* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace ;
}

/* Palet of color */
:root{
    --darkBrown:#593E2E;
    --black:#080A0D;
    --lightGrey:#D9D9D9;
    --lightBrown:#A68263;
    --check_color:green;
}

/* Delete decoration from link */
a {
    text-decoration: none;
}

/* Size of text on mobile */
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
p{
    font-size: 18px;
}

/* Size of text on desktop */
@media(min-width:768px){
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 30px;
    }
    p{
        font-size: 20px;
    }
}
